
.QRBox{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.6);
    position: fixed;
    z-index: 2;
    display: none;
}

.QRBox img{
    display: block;
    position: absolute;
    height: 224px;
    width: 224px;
    left: 50%;
    top: 50%;
    margin-left: -112px;
    margin-top: -112px;
}